filelock>=3.13.0
tzdata
streamlit
streamlit-aggrid
plotly
pandas
numpy
alpaca-py
feedparser
ollama
wordcloud
matplotlib
python-dotenv
psycopg[binary]>=3.1.0
-e . #install from the root (based on pyproject.toml) which installs trend_core, the -e stands for editable